<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="framework.listener.FrameworkListener"/>
    </listeners>
    <test verbose="2" parallel="methods" thread-count="2" name="/Users/megatron/Desktop/workspace_shital/Playwright_Java">
        <classes>
            <class name="framweorkTCs.HomeTest">
                <methods>
                    <include name="testAmazonSearchFunctionality"/>
                    <include name="testLogin"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>